/*#region Common */

/* Import external resources */
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css");

/* CSS reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: content-box;
}

body {
  /* background-color: red; */
  max-width: 512px;
  font-family: Arial, Helvetica, sans-serif;
}

img {
  width: 100%;
}

.server-item,
.navbar-user-pic {
  width: 55px;
  aspect-ratio: 1;
  border-radius: 50%;
}

/*#endregion Common */

/* #region main */

main {
  background-color: bisque;
  display: flex;
}

.sidebar {
  background-color: rgb(0, 0, 0);
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 10px;
}

.server-discord {
  border-radius: 15px;
}

.chat-list-container {
  background-color: goldenrod;
}


/* #endregion main */

/* #region footer */

footer {
  background-color: #2D2D35;
  color: white;
}

.nav-footer {
  display: flex;
  justify-content: space-around;
  align-items: flex-end;
  padding: 10px;
}

.nav-button * {
  display: block;
  text-align: center;
  font-size: 0.8rem;

}

.nav-button i {
  font-size: 1.6rem;
}

.navbar-user-pic {
  width: 1.6rem;  
  padding-bottom: 5px;
}

/* #endregion footer */