/*#region Common */

/* Import external resources */
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css");

/* CSS reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: content-box;
}

body {
  /* background-color: red; */
  display: flex;
  flex-direction: column;
  max-width: 512px;
  font-family: Arial, Helvetica, sans-serif;
  color: white;
  background-color: rgb(0, 0, 0);
}

img {
  width: 100%;
}

h1 {
  font-size: 1.5rem;
  padding: 30px 0 0 0;
}

h2 {
  font-size: 1.8rem;
}

.server-item,
.navbar-user-pic {
  aspect-ratio: 1;
  border-radius: 50%;
}

/*#endregion Common */

/* #region main */

main {
  /* background-color: bisque; */
  display: flex;
  font-size: 0.8rem;
  padding-top: 10px;
}

.sidebar {
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding: 10px;
}

.server-discord {
  border-radius: 15px;
}

.server-item {
  width: 55px;
}


.chat-list-container {
  background-color: #1C1D22;
  display: flex;
  flex-direction: column;
  width: 100vh;
  border-radius: 30px 0 0 0;
}

.more-friends {
  display: flex;
  gap: 15px;
  align-items: center;
  padding: 15px;
}

.more-friends * {
  background-color: #373A43;
  border-radius: 50px;
  padding: 5px;
}

.more-friends .search-friend {
  aspect-ratio: 1;
}

.chat-items {
  width: 100%;
}

.chat-item {
  color: rgba(255, 255, 255, 0.4);
  display: flex;
  gap: 10px;
  padding: 15px;
}

.chat-item h2 {
  font-size: 0.8rem;
  padding-bottom: 5px;
}


.profile-pic {
  border-radius: 50%;
  width: 2.5rem;
}





/* #endregion main */

/* #region footer */

footer {
  background-color: #2D2D35;
}

.nav-footer {
  display: flex;
  justify-content: space-around;
  align-items: flex-end;
  padding: 10px;
}

.nav-button * {
  display: block;
  text-align: center;
  font-size: 0.8rem;

}

.nav-button i {
  font-size: 1.6rem;
}

.navbar-user-pic {
  width: 1.6rem;
  padding-bottom: 5px;
}

/* #endregion footer */