/*#region Common */

/* CSS reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: content-box;
}

body {
  /* background-color: red; */
  max-width: 512px;
}

img {
  width: 100%;
}

/*#endregion Common */

/* #region main */

main {
  background-color: bisque;
  display: flex;
}

.sidebar {
  background-color: rgb(0, 0, 0);
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 10px;
}
  .server-item {
    width: 55px;
    aspect-ratio: 1;
    border-radius: 50%;
  }
  .server-discord {
    border-radius: 15px;
  }

.chat-list-container {
  background-color: goldenrod;
}


/* #endregion main */

/* #region footer */

footer {
  background-color: red;
}

/* #endregion footer */
